<!DOCTYPE html>


<html>
    <head>
      {% block head %}
        <meta charset="utf-8">
        <title>{% block titre %}DITEP - Prediction Tool{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link  rel="stylesheet"  type="text/css" href="{{url_for('static',filename='bootstrap.css')}}" >
        <link  rel="stylesheet"  type="text/css" href="{{url_for('static',filename='style.css')}}" >

        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      {% endblock %}
    </head>
    <body id="body" >
            <div class="wrapper" id = 'wrap'>
                <div id="top-container">
                    <div id = 'top-header' style = "padding-bottom: 20px">
                      <span class = 'bleu'></span>
                      <span class = 'jaune'></span>
                      <span class = 'orange'></span>
                      <span class = 'violet'></span>
                      <span class = 'bleu'></span>
                      <span class = 'jaune'></span>
                      <span class = 'orange'></span>
                      <span class = 'violet'></span>
                    </div>
                    <header id="header">
                      <div class="row">
                        <a href="{{url_for('index')}}" class = 'navbar-brand'>
                          <img src="https://www.gustaveroussy.fr/sites/all/themes/gustave_roussy/logo.png" alt="">
                        </a>
                        {% block navbar %}
                        <div class="topnav col-4">
                          <a class = 'col-4' href="{{url_for('index')}}">Home</a>
                          <a class = 'col-4' href="{{url_for('patients')}}">Patients</a>
                          <a class = 'col-4' href="{{url_for('deleted')}}">Deleted</a>
                        </div>
                        <div class = 'pres-text' id = 'name-container'>
                            <p>Dr {{session['name']}} {{session['surname']}}</p>
                            <a href = "{{url_for('client_logout')}}" id='logout'> Logout </a>
                        </div>
                        {% endblock %}
                      </div>

                      
                    </header>
                  </div>



              <div id="main-container">
                {% with messages = get_flashed_messages() %}
                 {% if messages %}
                     {% for m in messages %}
                     <div class="alert alert-dismissible fade show" role="alert">
                         <span>{{ m }}</span>
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                         </button>
                     </div>
                     {% endfor %}
                 {% endif %}
                 {% endwith %}

                {% block main %}{% endblock %}
            </div>
          </div>
    </body>
</html>
